<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Covers</title>
    <style>
      .content {
        columns: 2;
        width: 210mm;
      }
      .album_title {
        font-size: 16px;
        width: 300px;
        height: 4em;
        text-align: center;
      }
      .cover {
        margin: 20px;
        border: 1px solid;
        display: inline-block;
        border: 1px gray solid;
      }
      .img {
        height: 300px;
        width: 300px;
        background-color: blue;
        border: 1px solid black;
      }
    </style>
</head>
<body>
    <div class="content">
        {% for entry in playlists %}
            <div class="cover">
                <div class="album_title">{{ entry[1] }}</div>
                <div class="img">
                    {{ entry[2] }}
                    <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
    AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
        9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>